$bodyFont: sfProTextRegular;
$titleFont: sfProTextMedium;

.topBarRight {
    width: 100%;
    height: 59px;
    background: #EDEDED;
    border-left: 1px solid #DADADA;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .areaBusquedachat{
        position: absolute;
        display: flex;
        flex-basis: 30%;
        flex-flow: column;
        z-index: 10;
        height: 100%;
        width: 35%;
        background-color:  #ffffff;
        right: -100vh;
        transition: all .3s ease;
        border-right:  c5beb7 solid 1px;
        top: 0%;
        
        .goBackBtn{
            width: 100%;
            height: 59px;
            font-size: 20px;
            color: white;
            font-family: sfProTextMedium;
            padding-top: 2%;
            padding-left: 20px;
           // margin-bottom: 1px;
            background-color:  #00BFA5;
            cursor: pointer;
            
            .backimg{
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        }   
    }

    .tbRightContainer {
        width: 100%;
        height: 59px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .profilePicContainer {
            width: 55px;
            height: 40px;
            padding: 0 15px 0 0;
            display: flex;
            align-items: center;
            .profilePic {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .nameStatusContainer {
            flex-grow: 1;
            .namePersonChat {
                font-size: 16px;
                color: black;
                font-family: $titleFont;
                flex-grow: 1;
                cursor: pointer;
            }
            .statusConection {
                color: #767676;
                font-size: 13px;
            }
        }
        .rightRightIcons {
            height: 40px;
            margin-left: 20px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            .searchIconRight {
                width: 40px;
                height: 40px;
                padding: 8px;
                cursor: pointer;
                &:active {
                    background: #D5D5D5;
                    border-radius: 50%;
                }
            }
            .rightMore {
                width: 40px;
                height: 40px;
                padding: 8px;
                cursor: pointer;
                &:active {
                    background: #D5D5D5;
                    border-radius: 50%;
                }
            }
        }
    }
}
.chat {
    width: 100%;
    // height: calc(100% - 133px);
    height: calc(100% - 121px);
    background: #E5DDD5;
    padding-top: 20px;
    overflow: auto;
    overflow-y: scroll;
    
    .chatDateContainer {
        height: 32px;
        margin: 12px 0;
        padding-left: 9%;
        padding-right: 9%;
        display: flex;
        justify-content: center;
        .chatDate {
            height: 32px;
            display: flex;
            align-items: center;
            font-size: 12.5px;
            font-family: $titleFont;
            background: #E2F3FB;
            border-radius: 7.5px;
            padding: 5px 12px 6px;
            box-shadow:0 1px .5px rgba(black,.13);
        }
    }
    .bajar{
        position: absolute;
        bottom: 17px;
        z-index: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        background: white;
        cursor: pointer;
        margin-bottom: 5%;
        margin-left: 65%;
        border-radius: 100%;
        
    }
    
}
.sendMessageForm {
    width: 100%;
    height: 62px;
    padding: 5px 10px;
    background: #F0F0F0;
    border-left: 1px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .areaEmoji{
        position: absolute;
        display: flex;
        flex-basis: 30%;        
        transform: scale(0); 
        opacity: 0;
        flex-flow: column;
        z-index: 10;
        height: 50vh;
        width: 100%;
        background-color:  white;
        bottom: -50vh;
        transition: all .3s ease;
        border-right:  #ffffff solid 1px;
        left: 30.3%;
        .goBackBtn2{
            width: 100%;
            height: 8vh;
            font-size: 20px;
            color: white;
            font-family: sfProTextMedium;
            padding-top: 20px;
            padding-left: 15px;
            //margin-bottom: 1px;
            background-color:  #00BFA5;
            cursor: pointer;
            
            .backimg{
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        } 
        .emojicontainer{
            overflow: auto;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            border: 5px black;
            .emojiPicContainer {
                width: 50px;
                height: 50px;
                padding: 15px 10px 10px 10px;
                display: flex;
                align-items: center;
                .emojiPic {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }    
    }

    .leftMessageFormIcons {
        width: 94px;
        height: 52px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        .smileyContainer {
            display: flex;
            margin-right: 8px;
            cursor: pointer;
        }
        .clipContainer {
            display: flex;
            padding: 8px;
            cursor: pointer;
            &:active {
                background: #D5D5D5;
                border-radius: 50%;
            }
        }
    }
    .typeMessageForm {
        flex: 1 1 auto;
        height: 42px;
        margin: 5px 10px;
        padding: 9px 12px 11px;
        border-radius: 21px;
        background: white;
        font-family: $bodyFont;
        font-size: 15px;
        border: none;
        outline: none;
        .messageFormText {
            height: 20px;
            font-size: 14.2px;
            font-family: $bodyFont;
            color: #919191;
            cursor: text;
        }
    }
    .microphoneContainer {
        display: flex;
        padding: 5px 10px;
        cursor: pointer;
    }
}

